<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
                BGDb
            </a>
        </div>

        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/Games">Games</a></li>
            <li><a href="/Groups">Groups</a></li>
            <li><a href="/Events">Events</a></li>            
            <li><a href="/test">Test Page</a></li>
        </ul>
      
    </div>
</nav>