<!-- views/pages/about.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>
</head>
<body class="container">

    <header>
        <% include ./partials/header %>
    </header>

    <main>                
        <div>
        	<h2>About the Board Game Database</h2>
        	<p>The Board Game Database helps you find board games and people to play them with.</p>
        	<br/><br/><br/><br/><br/>
        </div>
    </main>

    <footer>
        <% include ./partials/footer %>
    </footer>
    
</body>
</html>